* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.page {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    margin-bottom: 40px;
    padding-left: 40px;
    text-align: center;
    background-color: rgb(58, 138, 134);
    color: white;
    font-size: 35px;
}

main {
    display: flex;
    justify-content: space-around;

}

.table {
    width: 400px;
    height: max-content;
    border: 3px solid black;
    text-align: center;
    font-size: small;
    padding: 15px;

}

footer {
    width: 100%;
    margin-top: 70px;
    padding-left: 40px;
    text-align: center;
    background-color: rgb(58, 138, 134);
    color: white;
    font-size: 35px;
}

@media only screen and (max-width: 380px) {
    .page {
        width: 200px;

    }
}

@media only screen and (max-width: 900px) {
    .page {
        width: 845px;

    }
}

@media only screen and (min-width: 901px) {
    .page {
        width: 1440px;

    }
}