* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;

}

body {
    height: auto;
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: rgb(128, 172, 130);
}

nav {
    height: 70px;
    width: 100%;

}

.menu {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 18px 0 15px 20px;
}



.menu>li {
    margin-right: 200px;
    display: inline;
}

.menu>li:last-of-type {
    margin-right: 0;
}

a:link,
a:visited {
    color: rgb(13, 13, 45);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    width: 1500px;
    height: 1000px;

}

.background {
    background-image: url(https://www.onlydomains.com/siteassets/onl/img/front/svg/spotlight/WebsiteBuilderTop.svg);
    background-size: no-repeat;
    background-size: cover;
    height: 700px;
    width: 950px;


}

form {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    left: 950px;
    bottom: 450px;
    width: 50%;
    margin: 10px 30px 10px 10px;
    border-radius: 20px;
    border: 2px rgb(13, 13, 45) solid
}

form h1 {
    margin: 20px 20px;
}

.form-row {
    margin-bottom: 30px;

}

.discount {
    position: relative;
    display: flex;
    justify-content: center;
    top: 100px;
    right: 40px;
    font-size: 30px;
    color: rgb(233, 201, 20);
    width: 35%;
    margin-right: 50px;
    padding-right: 20px;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="mobile"] {
    width: 150px;
    border: none;
    border-bottom: 1px solid rgb(13, 13, 45);
    background-color: transparent;
    outline: none;


}

button {
    background-color: gold;
    width: 200px;
    height: 30px;
    border-radius: 15px;
}

footer {
    height: 70px;
    width: 100%;
    padding-top: 30px;
    background-color: rgb(255, 88, 80);
    display: flex;
    justify-content: center;
    font-size: 25px;

}


@media only screen and (min-width: 901px) {
    main {
        width: 1440px;
    }
}

@media only screen and (max-width: 900px) {
    main {
        width: 860px;
    }
}

@media only screen and (max-width: 400px) {
    main {
        width: 383px;


    }

    .menu {
        display: flex;
        justify-content: space-around;
        font-size: 15px;
        text-align: left;
    }

    .menu>li {
        margin-right: 10px;
        display: inline-flex
    }

    body {
        width: 750px;



    }

    .container {
        width: 100%;
    }

    .background {
        position: relative;
        width: 500px;
        height: 500px;
        background-position: center;
        top: 400px;
        left: 175px;
        margin-bottom: 800px;

    }

    .discount {

        position: relative;
        justify-content: center;
        top: 30px;
        right: 250px;

        font-size: 35px;

    }

    form {
        position: relative;
        bottom: 200px;
        left: 125px;
        width: 500px;
    }

    footer {
        font-size: 15px;
    }
}